NODE_ENV=development

CLIENT_URLS=http://localhost:5173,http://localhost:8080
JWTSECRET_KEY=<your-jwt-secret-key>

MAILER_AUTH_PASS=mailer-auth-user
MAILER_AUTH_USER=mailer-auth-pass

MONGODB_URL=your-mongodb-connection-string
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=1d